@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;600;700;800&family=Inter:wght@400;500;600;700;800;900&family=Josefin+Sans:wght@400;600;700&family=League+Spartan:wght@600;700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400&family=Outfit&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;400;500;600&family=Ruda:wght@500&family=Space+Grotesk:wght@500;600;700&family=Ubuntu+Mono&display=swap");
.form {
  width: 100%;
  margin: auto;
  margin-top: 100px;
  box-sizing: border-box;
  text-align: left;
  padding: 1em;
}

.label {
  font-size: 15px;
  display: block;
  color: var(--very-dark-violet);
  font-family: Space Grotesk;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5em 0;
}

.firstinput {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--light-grey-violet);
  margin-bottom: 1em;
  border-radius: 7px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 0.5em;
}

.date {
  width: 65%;
}

.dateInput {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

.month {
  /* margin: 13px; */
  padding: 1em;
  border-radius: 7px;
  width: 50%;
  border: 1px solid hsl(270, 3%, 87%);
}

.year {
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
  width: 50%;
  padding: 1em;
}

.cvv {
  width: 35%;
}

.cvc {
  padding: 1em;
  width: 100%;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
}

.button {
  margin: 13px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: Space Grotesk;
  margin: 20px auto;
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 40px;
}

@media screen and (min-width: 420px) {
  .formContainer {
    display: flex;
    height: 100vh;
  }
  .form {
    width: 60%;
    margin: auto;
    margin-left: 0;
  }
}
