/* .outerdiv {
  outline: auto;
} */

/* .imageonemobillediv {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid green;
} */

.imageonemobille {
  /* display: none; */
  position: relative;
  width: 150%;
  top: -3.5em;
  left: 0;
}

.desktopimage {
  display: none;
}

.imagetwomobille {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 2em;
  left: 8.5em;
}

.imagethreemobile {
  position: absolute;
  width: 115%;
  z-index: 2;
  left: 1.8em;
  top: 8.5em;
}

@media only screen and (min-width: 400px) {
  /* .outerdiv {
    display: 2px solid green;
    background-color: green;
  } */
  .imageonemobille {
    display: none;
  }
  .desktopimage {
    display: block;
    position: relative;
    width: 30%;
  }
  .imagetwomobille {
    position: absolute;
    width: 30%;
    z-index: 1;
    left: 15em;
    top: 22em;
  }
  .imagethreemobile {
    width: 30%;
    z-index: 2;
    left: 8em;
  }
}
