.bg{
  width: 100%;
}
.backContainer{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 250px;

}

.front, .back{
  width: 250px;
}

.frontContainer{
    position: absolute;
    top: 118px;
    left: 20px;
    width: 80%;
    width: 250px;

}