/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30em;
} */


* {
  box-sizing: border-box;
}