@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;600;700;800&family=Inter:wght@400;500;600;700;800;900&family=Josefin+Sans:wght@400;600;700&family=League+Spartan:wght@600;700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400&family=Outfit&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;400;500;600&family=Ruda:wght@500&family=Space+Grotesk:wght@500;600;700&family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: 2px solid green;
}

.flex {
  text-align: center;
  display: inline-flex;
}

button {
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 50px;
}

/* .image {
  margin-top: 20px;
  border: 2px solig green;
} */

.form {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin-top: 2em;
  width: 120%;
}

@media only screen and (min-width: 400px) {
  .form {
    display: flex;
    position: absolute;
    margin-left: 55%;
    margin-top: -43%;
    height: 100%;
  }
}
